/* (* = Configuração Geral)  */
*{
    margin: 0%;
    padding: 0%;
    
}

Body{
    background-color: rgb(255, 255, 255);
    border-radius: Black 10px;
    
}

#Cabeçalho{
    background-color: rgb(161, 5, 5);
    text-align: center;
    color: whitesmoke;
    width: 100%;
    /* Margin - Margem externa ai elemento */
    /* Padding - Margem interna ao elemento */
   

}

#Artigo{
    width: 50%;
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    padding: 8px;
    margin: 10px 175px;
    border-radius: 10px;
    box-shadow: rgb(2, 178, 254) 5px 5px 12px


}


