*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 100%;

}


.Cabeçalho{
    background-color: rgb(152, 123, 93);
    width: 100%;
    height: 50px;
}

#logo{
    width: 50px;
    height: 100%;
    float: left;
    margin: 0px 0px 0px 40px;

}

#titulo{
    color: white;
    text-align: center;
    line-height: 45px;
}

nav{
    background-color: wheat;
    width: 100%;
    height: 50px;
    text-align: center; 
}

.menu2{
    text-decoration: none;   
    color: brown;
    margin: 0px 20px;
    line-height: 45px;

}

/* Fim Header */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(136, 136, 136);
    
}

#Conteudo{
    width: 90%;
    margin: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: whitesmoke;
    
}


#Banner img{
    width: 100%;
    height: 350px;
    border: 5px solid black;
    border-radius: 20px;
}

#Artigo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Fim Main */

/* Footer */

footer{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

#Creditos{
    color: whitesmoke;

}



/* background-image: url(../Cafeblog/images/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
    width: 80%;
    height: 350px;
    margin: 10px 75px;
    border: 5px solid black;
    display: flex;
    border-radius: 20px;   */
