*{
    margin: 0%;
    padding: 0%;
    
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 180, 180);
}

header a{
    text-decoration: none;
    color: black;
}

#Cabeçalho{
    margin: 0px 30px;

}

#Menu{
    width: 40%;
    display: flex;
    align-items: center;
}

#Menu img{
    width: 100%;
    
}

#Logon {
    width: 20%;
    margin: 0px 30px 0px 0px;
    display: flex;
    align-items: center;

}

#Logon img{
    width: 15%;

}

/* Main */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Banner{
    width: 90%;
    height: 300px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Banner img{
    width: 100%;
    height: 300px;
}

/* Inicio Melhores Produtos */

#Melhores{
    width: 90%;
    display: flex;
    margin: 10px 0px;

}

#Esquerda{
    width: 30%;
    

}

#Esquerda img{
    width: 100%;
    height: 400px;
}

#Meio{
    width: 45%;
    margin: 0px 8px;
    
}

#Meio img{
    width: 100%;
    height: 400px;
}

#Direita{
    width: 25%;

}

.Best{
    width: 100%;
    height: 175px;
    margin: 0px 0px 20px;
    display: flex;
    flex-direction: column;
    background-color: blue;

}

#Decima{
    margin: 0px 0px 20px;

}

#Debaixo{
    margin: 50px 0px 0px;
}


/* Fim melhores produtos */


/* Inicio Categorias */

#TituloCategorias h3{
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    
}

#Categorias{
    width: 90%;
    height: 500px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

/* Inicio MiniMenu */

#MiniMenu h3{
    text-align: center;

}

#MiniMenu{
    width: 30%;

    background-color: white;

}

#MiniMenu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
}

#MiniMenu li{
    list-style: none;
    margin: 15px;

}

#MiniMenu button{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);

}

/* Fim MiniMenu */

/* Inicio Diversos */
#Diversos{
    width: 70%;
    background-color: white;

}

#ProdutosDiversos{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Produtos{
    width: 30%;
    height: 200px;
    margin: 5px ;

}

.Produtos img{
    width: 100%;
    height: 130px;

}

#ProdutosDiversos2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Produtos2{
    width: 30%;
    height: 200px;
    margin: 5px ;
}

.Produtos2 img{
    width: 100%;
    height: 130px;
}
/* Fim Diversos */
/* Fim Categorias */

/* Inicio Explore */

#Explore{
    width: 90%;
    display: flex;
    margin: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#ExploreMais{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Serviços{
    width: 30%;
    height: 300px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border: 3px solid rgb(182, 182, 182);

}

.Serviços img{
    width: 50%;

}



/* Fim Explore */

/* Footer */

footer{
    width: 100%;
    height: 80px;
    margin: 10px 0px 0px 0px;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    color: whitesmoke;

}

#Final{
    width: 100%;
    display: flex;
    
}

#Contatos{
    padding: 0px 30px 0px 0px;

}

#Creditos{
    display: flex;
    justify-content: center;

}

