*{
    padding: 0%;
    margin: 0%;
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

#Cabeçalho{
    width: 90%;
    height: auto;
    margin: 10px 0px;
    background-color: black;
    border: 2px solid red;
    border-radius: 50px;
}

#Menu{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#Menu img{
    width: 10%;
    border-radius: 20px;
}

#Menu a{
    text-decoration: none;
    color: green;
}

/* Fim header */

/* Main */

main{
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#Anuncios{
    width: 100%;
    margin: 20px 10px;
    display: flex;
    justify-content: center;
}

.Venda{
    width: 30%;
    height: 350px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);

}

.Venda a{
    text-align: center;
    text-decoration: none;
    color: green;
}

.Venda img{
    width: 100%;

}

/* Fim main */

/* footer */

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

#Final{
    width: 90%;
    margin: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 2px solid red;
    border-radius: 50px;
}

.Contato{
    width: 100%;
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
}

.Contato img{
    width: 50px;
}

#Insta{
    width: 100%;
    
}