*{
    margin: 0%;
    padding: 0%;
}

:root{
    --Cor1: Red;
    --Cor2: rgb(0, 255, 0);
    --Cor3: rgb(165, 165, 165);
    --Cor4: White;

}

@keyframes Led {
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header, footer{
    width: 100%;
    padding: 10px auto ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Cor1);
    color: var(--Cor4);
}   

#Logo{

}

nav ul, a{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--Cor4);
}

/* Main */

main{
    width: 80%;
    padding: 10px;
    background-color: var(--Cor3);
}

main img{
    width: 100%;

}

#BtnMenu:hover{
    cursor: pointer;
}

#BtnMenu:active{
    cursor: pointer;
}

#MenuMobile{
    background-color: var(--Cor2);
    display: none;

}

/* footer */

footer{
    

}